<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>testdev</title>

    <!-- CSS -->
    <!-- load bootstrap and our own personal stylesheet -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <% include /partials/header %>

    <p>Hi my name is Justin Lin. I go to Gunn High School in Palo Alto, CA. I developed this website in hopes of helping small local businesses coming out of the corona virus. </p>
</body>
</html>