<!DOCTYPE html>
<html>
<head>
  
</head>

<body>



<div class="container">
<h2>Search results</h2>
<% include /partials/header %>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.lastname %> - <%= r.firstname %> - <%= r.companyname %> - <%= r.companydescription %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
