<!DOCTYPE html>
<html>

    
<head>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <% include /partials/header %>
    <div>
    <form action = "/create" method='POST'>
       
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        
        <label for="cname">Company Name:</label><br>
        <input type="text" id="cname" name="cname"><br>
        <label for="cd">Company Description:</label><br>
        <textarea></textarea><br>
        <p>Public ID: <input type="text" name="title"/></p>
        <p>Image: <input type="file" name="image"/></p>
        <p><input type="submit" value="Upload"/></p>
        <button type="submit"> Submit </button>

    </form>
    </div>


    <script type="text/javascript" src="client.js"></script>
</body>
</html>
