<!DOCTYPE html>
<html>
<h1>New Profile</h1>
    
<head>
  
</head>

<body>
    <form>
        <input type='hidden' name='redirect_to' value='https://testdev3.herokuapp.com/' />
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname"><br>
        
        <label for="cname">Company Name:</label><br>
        <input type="text" id="cname" name="cname"><br>
        <label for="cd">Company Description:</label><br>
        <input type="text" id="cd" name="cd"><br>
        
        <button type="submit"> Submit </button>

    </form>



    <script type="text/javascript" src="js/javascript.js"></script>
</body>
</html>
